<div class="mainDiv">

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <h4 style="color: lightgray; margin-left: 20px; margin-right: 20px; cursor: pointer;">Users app</h4>
            <a class="nav-item nav-link" style="cursor: pointer" routerLink="/user/home">Home</a>
            <a class="nav-item nav-link" style="cursor: pointer" routerLink="/user/create">Create User</a>
            <a class="nav-item nav-link" style="cursor: pointer" routerLink="/user/list">Users List</a>
            <a class="nav-item nav-link" style="cursor: pointer" routerLink="/products/productsList">Products</a>
            <!--
            <a class="nav-item nav-link" style="cursor: pointer" routerLink="/orders/createOrders">Make an order</a>
            <a class="nav-item nav-link" style="cursor: pointer" routerLink="/orders/listOrders">List of the orders</a>
        -->


            <!-- 
            <a class="nav-item nav-link" style="cursor: pointer" routerLink="/products/cart/{{user.id}}" style="float: right;">
                <img src="/assets/cart.png" style="width: 25px; margin-right: 5px;">Check your cart</a>
            -->

        </div>
    </nav>
</div>
<router-outlet>
</router-outlet>