<div class="mainDiv">

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <h4 style="color: lightgray; margin-left: 20px; margin-right: 20px;">Users app</h4>
            <a class="nav-item nav-link" style="cursor: pointer" routerLink="/user/home">Home</a>
            <a class="nav-item nav-link" style="cursor: pointer" routerLink="/user/create">Create User</a>
            <a class="nav-item nav-link" style="cursor: pointer" routerLink="/user/list">List</a>
        </div>
    </nav>
</div>
<router-outlet>
</router-outlet>